.login {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 27px 49px 21px 49px;
    box-shadow: 0px 7px 35px rgba(9, 44, 76, 0.16);
    border-radius: 7px;
    &__img {
        margin-bottom: 22px;
    }
    &__title {
        margin-bottom: 17px;
    }
    &__btn {
        margin-bottom: 12px;
        width: 100%;
    }
}
