@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat regular'), local('Montserrat regular'),
         url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat bold'), local('Montserrat bold'),
         url('../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'AvenirNext';
    font-style: normal;
    font-weight: 700;
    src: local('AvenirNext demi bold'), local('AvenirNext demi bold'),
         url('../assets/fonts/AvenirNext/AvenirNext-DemiBold.ttf') format('truetype');
}